mixin first-screen(data)
  section.first-screen.lazy(data-bg='url("assets/images/content/first-screen-image.jpg")')
    .first-screen__container.container
      h1.first-screen__title.title.title_biggest Печатаем книги на собственном оборудовании

